<div>
  <h2 class="text-center">Go Search!</h2>
  <br>
  <div class="search text-center">
    <%= text_field(:q, "", class: "form-control", placeholder: "find a class!")  %> <br>
    <div class="btn btn-default search-submit">Search</div>
  </div>
</div>