<h2 class="text-center"><%= @course.title%></h2>
<div class="course-page col-xs-5 col-sm-5 col-md-5 col-lg-5">
  <%= image_tag @course.image, class: "img-responsive"%>
</div>
<div class="text-center col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <p><%= @course.description.html_safe%></p>
  <% if @course.has_cert %>
    <p>Certificate upon completion:<span class="glyphicon glyphicon-ok"></span></p>
  <% elsif @course.has_cert == false %>
    <p>Certificate upon completion:<span class="glyphicon glyphicon-remove"></span></p>
  <% end %>
  <div>
    <p class="text-left col-xs-6 col-sm-6 col-md-6 col-lg-6"><span class="glyphicon glyphicon-check"></span></p>
    <p class="text-right col-xs-6 col-sm-6 col-md-6 col-lg-6"><%= @course.provider%></p>
</div>
</div>