/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header {

}

.course-img {
  max-height: 200px;
  width: 100%;
}

.form-control {
  width: 80%;
  margin-left: 10%;
}
.search-submit {
  margin-top: 10px;

}
.course {
  color: black;
  margin-top: 3%;
  border-radius: 10px;
}
.course:hover {
  background-color: #f2e7c9;
}
.session-field {
  margin-left: 0px; 
}
.signup {
  border-right: 1px solid black;
}

