/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-color: #efcca2
}
.header {
  height: 60px;
  background-color: #94383b;
}
.dropdown button {
  background-color: #94383b;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  border-radius: 20%;
  float: left;
}
.dropdown-menu {
  top: 40px;
}
.banner:hover {
  filter: saturate(200%)
}
.form-control.search-input {
  display: inline;
  width: 40%;
}
.course-img {
  max-height: 200px;
  width: 100%;
}
.form-control {
  width: 80%;
  margin-left: 10%;
}
.course {
  color: black;
  margin-top: 3%;
  border-radius: 10px;
}
.course:hover {
  background-color: #f2e7c9;
}
.session-field {
  margin-left: 0px; 
}
.signup {
  border-right: 1px solid black;
}
.profile-img {
  height: 50%;
  width: 50%;
}
.user-course img {
  height: 75%;
  width: 75%;
  border-radius: 20%;
}
.interests h3 {
  text-decoration: underline;
}
.glyphicon-check {
  font-size: x-large;
}


